.card-register {
  background-color: var(--dark);
  border-radius: 8px;
  color: #fff;
  max-width: 350px;
  margin: 0 auto;
  min-height: 400px;
  padding: 30px;

  & label {
    margin-top: 15px;
  }
  & .card-title {
    color: #B33C12;
    text-align: center;
  }
  & .btn {
    margin-top: 30px;
  }
  & .forgot {
    text-align: center;
  }

}
